.bodyProductos {
    background-color: $colorSecundario;
    font-family: 'Bebas Neue', cursive;

}

.navegacionProductos {
    margin: 0;
    padding: 0;
}

.productos {
    margin: 30px;
    height: 900px;

    .productos__titulo {
        color: $colorPrimario;
        font-size: 4rem;
        text-align: center;
        margin-top: 20px;
    }
}


.productsStyle {
    margin: 40px;
    color: $colorPrimario;

    button {
        color: $colorPrimario;
        font-size: 2.5rem;
    }
}


.products__imgcontainer {
    height: 250px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 100px;
    margin: 30px 50px 0 50px;
    justify-content: center;

    .products__imgcontainer__img {
        border: 2px solid $colorPrimario;
        padding: 5px;
        border-radius: 15px;
    }

    .products_imgcontainer_price {
        font-size: 2rem;
        text-align: center;
        border: 2px solid $colorPrimario;
        padding: 1px;
        border-radius: 15px
    }

}

.container_one {
    position: relative;

}

.image1 {
    display: block;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: .5s ease;

}

.container_one:hover .overlay {
    opacity: 1;
}

.image2 {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


@media (max-width: 768px) {
    .productos {
        height: 130rem;
    }

    .products__imgcontainer {
        height: 250px;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px 250px;
        gap: 100px;
    }

}